body{
  background-color:#BE8A62;

}
img {
  border-radius: 60%;
  margin-left:200px;

}
.text{
  display:inline-block;
  border-top-style: solid;
  width:300px;
  height:400px;
  color: white;
  font-size:19px;
  border-color: white;
  letter-spacing: 1.5px;
  text-align: center;
}
.text h1{
  font-size:25px;
text-decoration: underline;
text-decoration-color: #A88367;

}
.content{
  display:inline-block 10px;
  border-top-style: solid;
  width:300px;
  height:200px;
  color: white;
  font-size:26px;
  border-color: white;
  letter-spacing: 1.5px;
  text-align: center;
}

button{
  border-color: white;
  border-width: medium;
  border-radius: 25px;
  color: white;
  background-color: transparent;
}
.container{
  display:inline-block 10px;
  border-top-style: solid;
  width:300px;
  height:400px;
  color: white;
  font-size:26px;
  border-color: white;
  letter-spacing: 1.5px;
  text-align: center;
}
